In [1]:
#LIST_REMOVE_APPEND

list=['SAS','R','PYTHON','SPSS']
# list.pop(3)
list[3]="SPARK"
print(list)

['SAS', 'R', 'PYTHON', 'SPARK']

In [2]:
#String to List Conversion
str="I love Data Science & Python"
list= str.split('&')
print(list)

['I love Data Science ', ' Python']

In [3]:
#List to String Conversion
list=['Pythons syntax is easy to learn ' ,' Pythons syntax is very clear']
a = list[0]
b = list[1]
print(f"{a}&{b}")

Pythons syntax is easy to learn & Pythons syntax is very clear

In [4]:
# Nested List
list=[['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(list[2][1])

Java

In [5]:
#Itâ€™s the time to disco
t = ("disco", 12, 4.5)
print(t[0])

disco

In [6]:
#String Palindrome
string = input("input your text here : ")
# input (Marathi) to check
if(string == string[:: 1]):
   print("1")
else:
   print("0")

input your text here : Marathi
1

In [7]:
#Reverse Code
A = ["The","Words", "In" ,"Reverse","Order"]
A.reverse()
print('Reversed List:', A)
#print(B)

Reversed List: ['Order', 'Reverse', 'In', 'Words', 'The']

In [8]:
# String Formatting
# 1
mystring = ('caloRie ConsuMed').lower()
mystring.replace(" ","_")

'calorie_consumed'

In [9]:
# 2
mystring='Data Science'
mystring.replace(" ", "_")

'Data_Science'

In [10]:
# 3
mystring ='datascience'
print(mystring)

datascience